.sidebar{
    -fx-background-color: #131218;
}
.sidebar-icon{
    -fx-fill: #4E4F56;
}
.sidebar-icon:hover{
    -fx-fill: #FD0E55;
}
.bodybg{
     -fx-background-image: url('/media/xo.jpg');    
     -fx-background-size: cover;
}
